PyQt5
pyqtgraph
qdarkstyle
requests
websocket-client
peewee
pymysql
psycopg2
mongoengine
numpy
pandas
matplotlib
seaborn
futu-api
tigeropen
ibapi
deap
pyzmq
DingtalkChatbot
wmi
QScintilla
tushare
jqdatasdk